openapi: 3.2.0
info:
  title: Blink Charging Locations & Status API (BlinkMap API) Search…
  description: Modeled OpenAPI for Blink Network's gated third-party integrator program (marketed as the BlinkMap API), which returns Blink-compatible EV charger locations, hours of operation, and live network status.
  version: 1.0-modeled
  contact:
    name: Blink Charging
    url: https://blinkcharging.com
servers:
- url: https://api.blinknetwork.com/map/v1
  description: BlinkMap API (historical base path; not independently reverified)
security:
- apiKeyAuth: []
tags:
- name: Search
  description: Name-based search for Blink charging station locations.
paths:
  /search:
    get:
      operationId: searchLocations
      tags:
      - Search
      summary: Search charging station locations by name
      description: Returns Blink-compatible charging station locations matching a text query, scoped by a reference latitude/longitude. Modeled from the Search endpoint of the historical BlinkMap API.
      parameters:
      - name: q
        in: query
        required: true
        description: Free-text search query (e.g. a location or site name).
        schema:
          type: string
      - name: lat
        in: query
        required: true
        description: Reference latitude used to bias/scope results.
        schema:
          type: number
          format: double
      - name: lng
        in: query
        required: true
        description: Reference longitude used to bias/scope results.
        schema:
          type: number
          format: double
      responses:
        '200':
          description: A list of matching charging station locations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Location:
      type: object
      description: A Blink-compatible charging station location. Field set modeled from the historical BlinkMap API reference and third-party client example responses; current field names may differ.
      properties:
        id:
          type: integer
          description: Numeric Blink location identifier.
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        name:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        status:
          type: string
          description: Live network status of the location's chargers (e.g. Available, Charging/Busy, Unavailable). Exact enumeration is not independently re-verified.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: API key issued after signing up for Blink's third-party integrator program. Exact transport (query parameter vs. header) is not independently re-verified for the current API version.
externalDocs:
  description: Blink Developer API program page
  url: https://prod.blinknetwork.com/developer.html
